<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>JK Project</title>
</head>
<body>

  <div class="cabecalho">
    <img src="images/logo.svg" alt="">
  </div>

  <div>
    <img class="imagemilustracao" src="images/illustration-mockups.svg" alt="">
  <div class="corpo">

  <h1>Build The Community<br>Your Fans Will Love</h1>
  <p>Huddle re-imagines the way we build communities.You have a voice,<br> but so does your audience. 
    Create connections with<br>your users as you engage in genuine discussion. </p>
  <a class="botao" href="#">Register</a>

  </div>
  </div>

  <div class="imagens">
    <a href="https://www.instagram.com/johnkevinzs/" target="_blank">
      <img class="imagemredes" src="https://cdn-icons-png.flaticon.com/128/174/174848.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/johnkevinzs/" target="_blank">
      <img class="imagemredes" src="https://cdn-icons-png.flaticon.com/128/2168/2168336.png" alt="Twitter">
    </a>
    <a href="https://www.instagram.com/johnkevinzs/" target="_blank">
      <img class="imagemredes" src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" alt="Instagram">
    </a>
  </div>

<!--
  <footer>
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">John Kevin</a>.
    </p>
  </footer>
-->
</body>
</html>