<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modalidades Esportivas</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Modalidades Esportivas</h1>
    <div class="container">
        <div class="modalidade">
            <h2>Esportes de Campo</h2>
        <div class="reto">
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/33/33736.png" alt="Futebol"><p>Futebol</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/2972/2972028.png" alt="Rugby"><p>Rugby</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/7107/7107583.png" alt="Beisebol"><p>Beisebol</p></div>
            </div>
        </div>
        <div class="modalidade">
            <h2>Esportes Aquáticos</h2>
        <div class="reto">
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/2264/2264829.png" alt="Natação"><p>Natação</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/4792/4792286.png" alt="Polo Aquático"><p>Polo Aquático</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/3090/3090316.png" alt="Surfe"><p>Surfe</p></div>
        </div>
        </div>
        <div class="modalidade">
            <h2>Esportes de Combate</h2>
        <div class="reto">
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/6522/6522203.png" alt="Boxe"><p>Boxe</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/4020/4020293.png" alt="Judô"><p>Judô</p></div>
            <div class="esporte"><img src="https://cdn-icons-png.flaticon.com/128/2348/2348721.png" alt="Taekwondo"><p>Taekwondo</p></div>
        </div>
        </div>
    </div>
</body>
</html>