<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>


        <div>
            <img class="imagem1" src="images/logo.svg" alt="">
            <div>
                <h1>A history of everything you copy</h1>
                <p class="texto"> Clipboard allows you to track and organize everything you
                    copy. Instantly access your clipboard on all your devices.</p>
                <div class="lado">
                    <a class="cor">Download for iOS</a>
                    <a class="cor1">Download for MAC</a>
                </div>
            </div>
        </div>

        <div>
            <div>
                <h2 class="texto1">Keep track of your snippets</h2>
                <p class="texto2"> Clipboard instantly stores any item you copy in the cloud,
                    meaning you can access your snippets immediately on all your
                    devices. Our Mac and iOS apps will help you organize everything.</p>
            </div>

            <div class="lado2">
            <img class="imagem2" src="images/image-computer.png" alt="">
        

        <div>
            <h2 class="texto3">Quick Search</h2>

            <p class="texto4">Easily search your snippets by content, category, web address, application, and more.</p>

            <h2 class="texto3">iCloud Sync</h2>

            <p class="texto4">Instantly saves and syncs snippets across all your devices.</p>

            <h2 class="texto3">Complete History</h2>

            <p class="texto4"> Retrieve any snippets from the first moment you started using the app.</p>
            </div>
        </div>

        <div>
            <h2 class="texto5"> Access Clipboard Anywhere</h2>

            <p class="texto6">Whether you’re on the go, or at your computer, you can access all your Clipboard
                snippets in a few simple clicks.</p>

            <img class="imagem7" src="images/image-devices.png" alt="">

            <h2 class="texto5">Supercharge your workflow</h2>

            <p class="texto10">We’ve got the tools to boost your productivity.</p>

            <div class="lado3">

            <div class="reto">   

            <img class="imagem3" src="images/icon-blacklist.svg" alt="">

            <h2 class="texto9">Create blacklists</h2>
             

            <p class="texto4">Ensure sensitive information never makes its way to your clipboard by excluding certain
                sources.</p>
            </div>
        
            <div class="lado4">
            <img class="imagem4" src="images/icon-text.svg" alt="">

            <h2 class="texto9">Plain text snippets</h2>

            <p class="texto4">Remove unwanted formatting from copied text for a consistent look.</p>

            </div>

            <div class="lado5">

            <img class="imagem4" src="images/icon-preview.svg" alt="">

            <h2 class="texto9 ">Sneak preview</h2>

            <p class="texto4">Quick preview of all snippets on your Clipboard for easy access.</p>

            </div>
            
            </div>

            <div class="logos">
                <img class="logos" src="images/logo-google.png" alt="">
                <img class="logos" src="images/logo-ibm.png" alt="">
                <img class="logos" src="images/logo-microsoft.png" alt="">
                <img class="logos" src="images/logo-hp.png" alt="">
                <img class="logos" src="images/logo-vector-graphics.png" alt="">
            </div>

            <div >

            <h2 class="texto7">Clipboard for iOS and Mac OS</h2>

            <p class="texto4"> Available for free on the App Store. Download for Mac or iOS, sync with iCloud
                and you’re ready to start adding to your clipboard.</p>

            <div class="reto2">

            <a class="cor">Download for iOS</a>
            <a class="cor1">Download for MAC</a>
            </div>    

            </div>
        </div>

        


        <div class="lado10">
            <img class="imagem5" src="images/logo.svg" alt="">
            <div class="reto4">
            <h2 class="texto8">FAQs</h2>
            <h2 class="texto14">Contact Us</h2>
            <h2 class="texto14">Privacy Policy</h2>
            <h2 class="texto14">Press Kit</h2>
            <h2 class="texto14">Install Guide</h2>
            </div >
        

        <div class="imagem6">
            <img class="imagem6" src="images/icon-facebook.svg" alt="">
            <img class="imagem6" src="images/icon-twitter.svg" alt="">
            <img class="imagem6" src="images/icon-instagram.svg" alt="">
        </div>
        </div>

        






    </div>
</body>

</html>